<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css">
  </head>
  <body>
    <div class="wrapper">
        <header>
          {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" style="-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 50%; margin-bottom: 10px;" />
          {% endif %}
          
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </header>

        <section>

        {{ content }}

        </section>

        <br/>

        <footer>
          <hr>
          <p><small>This project is maintained by <a href="https://github.com/yuchuanwang">王玉川</a></small></p>
          <p><small>Please feel free to contact me via <a href="mailto:yuchuan.wang@gmail.com"><i class="fa-regular fa-envelope"></i></span>&nbsp;Email</a></small></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>